body {
    background-color: #202025;
    font-family: Arial;
    font-weight: bold;
}

.App {
  margin: 300px auto;
  align-content: center;
  padding: 15px;
  height: max-content;
  width: 230px;
  border: 2px solid #7AD7EEFF;
  border-radius: 7px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 2vh;
  background-color: #202025;
}

.App > div {

}

/*styles for block Scoreboard Block */
.scoreboard {
  text-align: center;
  font-size: 50px;
  border: 1px solid #7AD7EEFF;
  border-radius: 7px;
  padding: 15px;
  margin-bottom: 20px;
  color: #7AD7EEFF;
}

.error-scoreboard {
  color: red;
  text-align: center;
  font-size: 50px;
  border: 1px solid #7AD7EEFF;
  border-radius: 7px;
  padding: 15px;
  margin-bottom: 20px;
}

/*styles for div buttons */
.buttons {
  border: 2px solid #7AD7EEFF;
  padding: 10px;
  border-radius:7px;
  background-color: #111111;
}

/*styles for button inc , reset*/
.inc, .reset {
  border: 1px solid #7AD7EEFF;
  background-color: #7AD7EEFF;
  border-radius: 7px;
  font-size: 30px;
  font-weight: bold;
  padding: 0 15px;
}


.error-inc, .error-reset {
  border: 1px solid #7AD7EEFF;
  background-color: #8ab6c5;
  border-radius: 7px;
  font-size: 30px;
  font-weight: bold;
  padding: 0 15px;
  opacity: 0.5;
}

.disable-inc {
  border: 1px solid #7AD7EEFF;
  background-color: #8ab6c5;
  border-radius: 7px;
  font-size: 30px;
  font-weight: bold;
  padding: 0 15px;
  opacity: 0.5;
}

/*test commit*/